spring:
  application:
    name: bank-service

  datasource:
    url: jdbc:postgresql://localhost:5432/bank
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin
    listener:
      simple:
        acknowledge-mode: auto

queues:
  payment-requested: payment-requested
  payment-result: payment-result
  payment-refund: payment-refund
  payment-refund-result: payment-refund-result

server:
  port: 8086